:root {
    --soft-mint-green: #B2DFDB;
    --vibrant-cyan: #6EFFF3;
    --bright-cyan: #4AE0D4;
    --dark-brown: #943D13;
    --burnt-orange: #E07B4A;
  }

  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: var(--vibrant-cyan);
    width: 100%;
    height: 15%;
  }

  .main-container {
    background-color: var(--soft-mint-green);
    width: 100%;
    height: 70%;
    display: flex;
  }

  .nav {
    background-color: var(--bright-cyan);
    width: 20%;
  }

  .to-do-container {
    background-color: var(--dark-brown);
    width: 100%;
    padding: 20px;
  }

  .to-do-list {
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .task {
    display: flex;
    font-size: 1.5em;
    padding: 10px;
    border: 2px solid var(--bright-cyan);
  }

  .task button {
    margin-left: auto;
    border-radius: 5px;
  }

  footer {
    background-color: var(--vibrant-cyan);
    width: 100%;
    height: 15%;
  }