:root {
  --primary-dark: #333;
  --secondary-dark: #444;
  --primary-light: #eee;
  --secondary-light: #ddd;
  }

  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  header {
    background-color: var(--primary-dark);
    width: 100%;
    height: 15%;
  }

  .main-container {
    background-color: var(--primary-light);
    width: 100%;
    height: 70%;
    display: flex;
  }

  .nav {
    box-sizing: border-box;
    background-color: var(--secondary-light);
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 1.4em;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-bar button {
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    background-color: var(--secondary-light);
  }

  button:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }

  .make-a-project {
    font-size: 1em;
    border-radius: 5px;
  }

  .project {
    font-size: 0.8em;
    width: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .delete-project {
    border: none;
    font-weight: bold;
    background: none;
  }
  
  .delete-project:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.2s;
  }

  .to-do-container {
    background-color: var(--vibrant-cyan);
    width: 100%;
    padding: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .to-do-container > fieldset, .to-do-list {
    width: 70%;
  }

  fieldset {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .taskInput {
    border-radius: 5px;
    font-size: 1.2em;
    width: 400px;
  }

  .dateInput {

  }

  select {
    width: 150px;
  }

  .add-task {
    border-radius: 6px;
  }

  .to-do-list {
    color: var(--secondary-dark);
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 10px;
  }

  .task {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    font-size: 1.5em;
    padding: 10px;
    background-color: var(--secondary-light);
    border: 2px solid var(--secondary-dark);
    border-radius: 9px;
    column-gap: 10px;
  }

  .task button {
    border-radius: 5px;
    cursor: pointer;
  }

  .task div {
    cursor: pointer;
  }

  footer {
    background-color: var(--primary-dark);
    width: 100%;
    height: 15%;
  }